#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- --disable-tester --disable-silent-rules

override_dh_strip:
	dh_strip -a --dbg-package=sbc-dbg

